 <div class="container" id="overview">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="classNo">Class:</label>
            <input type="text" class="form-control" id="classNo" [(ngModel)]="model.class" name="classNo">
          </div>
          <div class="form-group">
            <label for="studentList">Student List:</label>
            <div type="text" class="form-control" id="studentList" *ngFor="let student of modelStudent"><p>{{student.name}}</p>
          </div>
          <!-- <div class="form-group">
           <label for="studentList" class="col-sm-2 control-label">Student List: </label>
             <div class="col-sm-9">
                <p class="form-control">{{modelStudent.name}}</p>
             </div>
          </div> -->
          <div class="row">
            <button type="button" class="btn-md btn-primary createListButton" (click)="getStudentByClass()">  Create List</button>
          </div>
         </div>
        </div>
        <div class="col-md-6">
            <!-- <div class="row">
            <div class="form-group">
              <app-comments></app-comments>
            </div>
          </div> -->
        </div>
        <div class="col-md-3">
          <!-- <div class="row">
            <app-schedule></app-schedule>
          <div class="row">
            <app-packinglist></app-packinglist>
          </div>
         </div> -->
      </div>
    </div>
