<div class="container" id="overview">
  <div class="row" id="headlineEvent">
    <h2>{{event.name}} &nbsp; &nbsp; &nbsp; {{event.class}} &nbsp; &nbsp; &nbsp;  {{event.teacher}}</h2>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <app-planstatus></app-planstatus>
        <hr/>
      </div>
      <div class="row">
        <app-cost></app-cost>
        <hr/>
      </div>
    </div>
    <div class="col-md-6">
      <h4> Add Students </h4>
      <form class="form-group" id="addStudentForm" (submit)="addStudent()">
        <div class="row">
          <div class="form-group">
            <label for="event_name" class="control-label">Student's Name: </label>
            <div class="">
              <input type="text" class="form-control" [(ngModel)]="model.name" name="name">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label for="description" class="control-label">Class: </label>
            <div class="">
              <input type="text" class="form-control" [(ngModel)]="model.class" name="class">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="">
            <label for="class" class="control-label">Address: </label>
            <div class="">
              <input type="text" class="form-control" [(ngModel)]="model.address" name="address">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label for="teacher" class="ontrol-label">Parent's E-Mail: </label>
            <div class="">
              <input type="text" class="form-control" [(ngModel)]="model.parentemail" name="parentemail">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="">
            <button type="submit" class="btn btn-success">Add</button>
          </div>
        </div>
      </form>
    </div>
  <div class="col-md-3">
    <div class="row">
      <app-schedule></app-schedule>
      <hr/>
      <div class="row">
        <app-packinglist></app-packinglist>
        <hr/>
      </div>
    </div>
  </div>
</div>
</div>
