/* You can add global styles to this file, and also import other style files */

body {
  background-image: url('assets/background-image.png');
  color: white !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: lighter;
}

.removeButton {
  color: red;
  font-size: 20px;
}

.listitem {
  display:inline !important;
}

.insideItem {
  display:inline-block !important;
}
