 <div class="container" id="overview">
      <div class="row">
        <div class="col-md-3">
          <div class="row">
          <app-planstatus></app-planstatus>
          </div>
          <div class="row">
            <app-cost></app-cost>
          </div>
          <div class="row">
            <button type="button" class="btn btn-primary btn-md">  Create Student List</button>
          </div>
          <div class="row">
            <h6>My child is allowed to participate.</h6>
            <button type="button" class="btn btn-primary btn-md">Agree</button>
            <button type="button" class="btn btn-primary btn-md"> Decline</button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
          <app-editdescription></app-editdescription>
          </div>
          <div class="row">
            <div class="form-group">
              <app-comments></app-comments>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row">
            <app-schedule></app-schedule>
          <div class="row">
            <app-packinglist></app-packinglist>
          </div>
          <div class="row">
            <button type="button" class="btn btn-primary btn-md">Invite</button>
          </div>
          <div class="row">
            <button type="button" class="btn btn-primary btn-md">View Participants</button>
          </div>
        </div>
      </div>
    </div>
