<div class="container" id="overview">
  <div class="row" id="headlineEvent">
    <h2>{{event.name}} &nbsp; &nbsp; &nbsp; {{event.class}} &nbsp; &nbsp; &nbsp;
    {{event.teacher}}</h2>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <app-planstatus></app-planstatus>
        <hr/>
      </div>
      <div class="row">
        <app-cost></app-cost>
        <hr/>
      </div>
      <div class="row">
        <button type="button" id="createListButton" class="btn btn-primary btn-md" *ngIf="hideWhenParent()" routerLink="/studentlist/{{event._id}}" style="margin-top: 15px;"> Create Student List
        </button>
        <hr/>
      </div>
      <div class="row">
        <h6 *ngIf="hideWhenParent()">My child is allowed to participate.</h6>
        <button type="button" class="btn btn-primary btn-md" (click)="addToAcceptList()">Agree</button>
        <button type="button" class="btn btn-primary btn-md" (click)="addToDeclineList()">Decline</button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <app-editdescription></app-editdescription>
        <hr/>
      </div>
      <div class="row">
        <div class="form-group">
          <app-comments></app-comments>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row">
        <app-schedule></app-schedule>
        <hr/>
        <div class="row">
          <app-packinglist></app-packinglist>
          <hr/>
        </div>
        <div class="row">
          <button type="button" class="btn btn-primary btn-md" *ngIf="hideWhenParent()" routerLink="/send-event/{{event._id}}">Invite
          </button>
        </div>
        <div class="row">
          <button type="button" class="btn btn-primary btn-md" *ngIf="hideWhenParent()" (click)="toggleParticipantView()">View Participants
          </button>
          <div class="consent-list" *ngIf="toggleView">
            <h4>Invitations Accepted</h4>
            <div *ngFor="let goingUsers of event.acceptList">
              <ul>
                <li>{{goingUsers}}</li>
              </ul>
            </div>
            <h4>Invitations Declined</h4>
            <div *ngFor="let ditchers of event.declineList">
              <ul>
                <li>{{ditchers}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
