.col-md-3 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.col-md-6 {
  padding-top: 20px;
  padding-bottom: 40px;
  padding-right: 10px;
  padding-left: 10px;
}
.container {
  width: 1200px;
}

.row {
  padding: 10px;
}

#overview {
  background-color: rgba(255,255,255,0.5) !important;
  color: black;
}

.col-md-3 {

}
