<div *ngIf=event>
  <h4> Cost and Paying </h4>

  <div type="text" id="cost">{{event.cost[0]}}</div>
  <button class="btn btn-primary btn-xs" id="editCostButton" *ngIf="hideWhenParent()" type="submit" (click)="editCost(cost)">Edit</button>
  <button class="btn btn-success btn-xs" id="saveCostButton" *ngIf="hideWhenParent()" style="display:none" (click)="saveCostEdit()">Save</button>
  <button class="btn btn-danger btn-xs" id="cancelCostButton" *ngIf="hideWhenParent()" style="display:none" (click)="cancelCostEdit()">Cancel</button>
<br><br>
  <div type="text" id="costDescr">{{event.cost[1]}}</div>
  <button class="btn btn-primary btn-xs" id="editDescrButton" *ngIf="hideWhenParent()" type="submit" (click)="editDescr()">Edit</button>
  <button class="btn btn-success btn-xs" id="saveDescrButton" *ngIf="hideWhenParent()" style="display:none" (click)="saveDescrEdit()">Save</button>
  <button class="btn btn-danger btn-xs" id="cancelDescrButton" *ngIf="hideWhenParent()" style="display:none" (click)="cancelDescrEdit()">Cancel</button>
<br><br>
<button class="btn btn-primary btn-md" *ngIf="hideWhenParent()" id="paymentList">Payment Overview</button>
</div>
