<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div id="headline"> The School Event Manager 🎓</div>
      <div id="belowHeadline"> a digital school trip planning system for teachers </div>
      <div id="features">
        easy to use ++ overview about planning status, accounting, schedules ++ generate student lists ++ <br>
        no more paper ++ include the parents ++ all resources in one place
      </div>
      <div class="row">
        <div id="businessModel">
          ① Subscribe for 9,99$/Month &nbsp; &nbsp; &nbsp;
          ② Create an event &nbsp; &nbsp; &nbsp;
          ③ Invite the parents &nbsp; &nbsp; &nbsp;
          ④ Keep your event updated
        </div>
      </div>
    </div>
    <div class="col-md-3" id="loginColumn">
      <div class="row">
        <app-login></app-login>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-8">
          <button class="btn btn-success btn-btn-xl" routerLink="/register">Register</button>
        </div>
      </div>
    </div>
  </div>
