<h4>Don't forget to bring:</h4>
<div id="packinglist" *ngFor="let item of event.packing; let i = index" [attr.data-index]="i">
  <ul>
    <li>{{item}} <button class="btn btn-xs btn-danger" (click)="remove(item)" *ngIf="hideWhenParent()">Remove</button></li>
  </ul>
</div>
<!-- input field + add-button to add other items to the list-->
<form class="input-append" *ngIf="hideWhenParent()">
  <input type="text" id="newPackingItem" >
  <button class="btn btn-primary btn-xs" (click)="addPackingItem()">Add</button>
</form>
